@use 'styles' as styles;

.home {
  background-color: styles.$gray-600;
}

.home {
  position: relative;

  display: grid;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  background-color: styles.$home-background;


  & > * {
    position: relative;
    max-width: styles.$ll;
    text-align: center;
    margin: 4vw;
  }

  &__header {
    h1 {
      color: styles.$header-home-color;
    }
    p {
      color: styles.$paragraph-home-color;
    }
  }
  
  &__body-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  @media all and (max-width: styles.$mm) {
    & > * {
      max-width: styles.$ml;
    }
  }
  @media all and (max-width: styles.$l) {
    align-items: normal;

    & > * {
      max-width: styles.$t;
    }
  }
}