@use '_colors.scss' as c;
@use '_spacing.scss' as s;

.home {
  position: relative;

  display: grid;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  background-color: c.$home--background-color;


  & > * {
    max-width: s.$l;
    margin: 0 1rem;

    text-align: center;

    @media all and (max-width: s.$ml) {
    }
  }

  &__body-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}