@use '_colors.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;

  height: 100vh;

  background-color: #07080B;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
