@use '../styles/styles';

.card {
    background-color: styles.$card-home-background;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
    width: 30vw;
    height: 15vw;
    max-width: 800px;
    max-height: 400px;
    padding: 4.2rem;
    border-radius: 0.8rem;

    background-color: styles.$card-home-background;
    transition: scale 300ms;

    &::before {
        pointer-events:none;

        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background: linear-gradient(125deg, rgba(styles.$card-home-background, 0) 50%, rgba(18,68,245,.15) 100%);
        border-radius: 0.8rem;
    }

    &:hover {
        cursor: pointer;
        scale: 1.1;

        .card__text {
            color: styles.$white;
        }
        .card__button {
            color: styles.$gray-500;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: bold;
        color: styles.$card-home-color;
        
        @media all and (max-width: styles.$t) {
            font-size: 14px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        color: styles.$card-home-color;
    }

    
    &__button {
        outline: none;
        background: none;
        border: none;
        
        padding: 1rem 1.6rem;
        border-radius: 6px;
        background-color: styles.$card-home-button-background;
        color:  styles.$card-home-color;
        font-weight: bold;
        
        &:hover {
            cursor: pointer !important;
            background-color: styles.$card-home-button-background--hover !important;
            color: styles.$white !important;
        }
        &:active {
            color: styles.$card-home-color !important;
        }
    }
    
    @media all and (max-height: styles.$l) {
        max-height: 300px;
    }
    @media all and (max-width: styles.$t) {
        &:hover {
            scale: none;
        }
    }
    @media all and (max-width: styles.$ml) {
        padding: 1rem 0;
        height: auto;
        width: 100%;

        &:hover {
            scale: none;
        }
    }
}